---
import Head from '../components/Head.astro';
import '../styles/global.css';
import ChipLink from "../components/ChipLink.astro";
import Project from "../components/project.astro";
import projects from "../data/projects.json";
---
<html lang="en">
<head>
    <Head title="Marten Gierth | Projects" url="https://mgierth.de/projects"
          description="Take a look at my creative projects in game development and interactive experiences!"/>
</head>
<body>
<div class="background"></div>
<main>
    <div class="contentwrapper">
        <h1>
            Projects
        </h1>
        <ChipLink chipText="home" url="/" iconLeft="/assets/arrow-left.svg"/>
    </div>
    <div class="projectwrapper">
        <>
            {projects.map((project, index) => (
                    <Project
                            key={index}
                            visible={project.visible}
                            title={project.title}
                            projectTag1={project.projectTags[0] || ""}
                            projectTag2={project.projectTags[1] || ""}
                            projectTag3={project.projectTags[2] || ""}
                            projectTag4={project.projectTags[3] || ""}
                            projectTag5={project.projectTags[4] || ""}
                            projectTag6={project.projectTags[5] || ""}
                            description={project.description}
                            collaborationName1={project.collaborations?.[0]?.name || ""}
                            collaborationName1Link={project.collaborations?.[0]?.link || ""}
                            collaborationmid={project.collaborations?.length > 1 ? " and " : ""}
                            collaborationName2={project.collaborations?.[1]?.name || ""}
                            collaborationName2Link={project.collaborations?.[1]?.link || ""}
                            collaborationend={project.collaborations?.length > 1 ? "." : ""}
                            image={project.image}
                            imagelink={project.links?.[0]?.url || ""}
                            url1={project.links?.[0]?.url || ""}
                            chipType1={project.links?.[0]?.chipType || ""}
                            chipTypeColor1={project.links?.[0]?.chipColor || ""}
                            chipText1={project.links?.[0]?.chipText || ""}
                    />
            ))}
        </>
        );
    </div>
</main>
</body>

<style>
    .projectwrapper {
        padding: 0.5rem;
        max-width: 1280px;
        margin: 0 auto;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fcfcfc;
        z-index: -1;
    }
</style>