---
interface Props {
    title?: string;
    description?: string;
    url?: string;
    image?: string;
}

const {
    title = "Marten Gierth",
    description = "Portfolio of Marten Gierth – Web and game developer from Dresden, Germany. Find creative projects, games, and links to my profiles.",
    url = "https://mgierth.de",
    image = "/assets/gradient.jpg"
} = Astro.props;
---

<title>{title}</title>
<!-- Meta Tags for SEO -->
<meta charset="utf-8"/>
<html lang="en" data-theme="light">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator}/>
<meta name="robots" content="index, follow"/>
<meta http-equiv="Pragma" content="cache"/>
<meta name="revisit-after" content="2 days"/>
<meta name="audience" content="all"/>
<meta http-equiv="content-language" content="de"/>
<meta name="language" content="de"/>
<meta name="author" content="Marten Gierth"/>
<meta name="copyright" content="Marten Gierth"/>
<meta name="page-type" content="Personal Website"/>
<meta name="keywords"
      content="Marten Gierth, web developer, game developer, creative projects, portfolio, interactive design, moin.marten"/>
<meta name="description" content={description}/>

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={title}/>
<meta property="og:description" content={description}/>
<meta property="og:image" content={image}/>
<meta property="og:url" content={url}/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Marten Gierth"/>

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content={title}/>
<meta name="twitter:description" content={description}/>
<meta name="twitter:image" content={image}/>

<!-- Canonical Link -->
<link rel="canonical" href={url}/>

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
<link rel="icon" type="image/png" href="/favicon.png"/>

<!-- Structured Data -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Marten Gierth",
        "url": "https://martengierth.de/"
    }
</script>