---
interface Props {
    title?: string;
    description?: string;
    url?: string;
    image?: string;
}

const {
    title = "titel",
    description = "description",
    url = "mgierth.de",
    image = ""
} = Astro.props;
---
<div>
    <h2>
        {title}
    </h2>
    <p>{description}</p>
    {image && <img src={image} alt={title}/>}
</div>

<div class="chip-wrapper">
    <a class="clip-link" href="https://{url}">
        <div class="clip">
        <span class="clip-type">website</span>
            <p class="cliptext">
                {url}
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                     stroke-linejoin="round" class="mr-2 inline-block icon" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                    <line x1="7" y1="17" x2="17" y2="7"></line>
                    <polyline points="7 7 17 7 17 17"></polyline>
                </svg>
            </p>
        </div>
        <span class="chip-background"></span>
    </a>
</div>

<style>
    div.chip-wrapper {
        position: relative;
        display: inline-block;
    }

    div.clip {
        position: relative;
        background-color: #ffffff;
        padding: 0.2rem 1.25rem;
        padding-bottom: 4px;
        border-radius: 1.5rem;
        overflow: hidden;
        z-index: 1;
        border-color: var(--color-text);
        border: solid 1px;
        position: relative;
        transition: transform 0.15s ease-out;
        transform-origin: top left;
        align-items: center;
        display: inline-flex;
        padding: 0;
        margin: 0;
    }

    div.clip svg {
        margin-right: 0.8rem;
    }

    div.clip:hover {
        transform: rotate(-2deg);
    }

    p.cliptext {
        text-decoration: none;
        color: var(--color-text);
        font-size: 1.25rem;
        margin: 0;
    }

    span.chip-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #232323;
        z-index: 0;
        border-radius: 1.5rem;
        border-color: #efefef;
        border: solid 1px;
    }

    span.clip-type{
        margin: 0.17rem 0.4rem 0.17rem 0.18rem;
        padding: .2rem 0.6rem;
        border-radius: 1rem;
        Background-color: red;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        font-family: 'Inter', serif;
    }

    a.clip-link {
        margin: 0;
        padding: 0;
        color: var(--color-text);
    }
</style>