---
import ChipLink from "./ChipLink.astro";
interface Props {
    title?: string;
    description?: string;
    image?: string;

    url1?: string;
    chipType1?: string;
    chipTypeColor1?: string;
    chipText1?: string;

    url2?: string;
    chipType2?: string;
    chipTypeColor2?: string;
    chipText2?: string;
}

const {
    title = "",
    description = "",
    image = "",

    url1 = "",
    chipType1 = "",
    chipTypeColor1 = "",
    chipText1="",

    url2 = "",
    chipType2 = "",
    chipTypeColor2 = "",
    chipText2=""

} = Astro.props;
---
<div>
    <h2>
        {title}
    </h2>
    <p>{description}</p>
    {image && <img src={image} alt={title}/>}
</div>
<ChipLink chipType={chipType1} chipText={chipText1} chipTypeColor={chipTypeColor1} url={url1} ?{url1} :{}  urlNewTab=true iconRight="assets/arrow-right.svg" backgroundColor={chipTypeColor1}/>
<ChipLink chipType={chipType2} chipText={chipText2} chipTypeColor={chipTypeColor2} url={url2} ?{url2} :{}  urlNewTab=true iconRight="assets/arrow-right.svg" backgroundColor={chipTypeColor2}/>